@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap');

header {
	width: 70%;
	margin: 3em auto 6em;
	padding: 1em;
	text-align: center;
	color: rgb(245, 245, 245);
}

#title {
	font-family: MuseoModerno, sans-serif;
	font-size: min(6vw, 6em);
	letter-spacing: 0.25em;
}

/* Fixes the gap after "n" created from letter-spacing */
#title > span:first-child {
	margin-right: -0.25em;
}

#logo {
	display: inline-block;
	width: 1em;
	height: 1em;
	background: url('../assets/logo.png') no-repeat center;
	background-size: contain;
	margin: 0 0.5em;
}

#import-button {
	background: url('../assets/import.svg') no-repeat center;
	background-size: contain;
}

#add-button {
	background: url('../assets/add.svg') no-repeat center;
	background-size: contain;
}

#export-button {
	background: url('../assets/export.svg') no-repeat center;
	background-size: contain;
	fill: red;
}

.button {
	display: inline-block;
	margin: 0 5%;
	width: min(2.5vw, 2.5em);
	height: min(2.5vw, 2.5em);
	transition: all .1s ease-in-out;
}

.button:hover {
	transform: scale(1.15);
	cursor: pointer;
}
