.note {
	margin: 0 auto 3em;
	padding: 2em 3em;
	width: 40%;
	color: black;
	background-color: rgb(245, 245, 245);
	border-radius: 3px;
	box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.5);
}

.note-title {
	display: block;
	font-size: 1.5vw;
	margin-bottom: 0.75em;
	padding: 0.25em;
}

.note-text {
	padding: 0.5em;
	font-size: 0.9vw;
}

.note-title, .note-text {
	width: 98%;
	
}

.note-title::placeholder, .note-text::placeholder {
	color: rgb(90, 90, 90);
}

.note-title:focus::placeholder, .note-text:focus::placeholder {
	color: transparent;
}
