.note {
	margin: 0 auto 1em;
	padding: 1em 10em;
	width: 60%;
	color: rgb(160, 215, 180);
}

/* https://cssgradient.io/ */
.note:nth-of-type(n+1) {
	background: linear-gradient(90deg, rgba(66,66,66,1) 0%, rgba(79,79,79,1) 25%, rgba(82,82,82,1) 40%, rgba(82,82,82,1) 60%, rgba(79,79,79,1) 75%, rgba(66,66,66,1) 100%);
}

.note-title {
	color: rgb(200, 255, 220);
	font-size: 1.5vw;
	margin-bottom: 0.25em;
	padding: 0.1em;
}

[contentEditable=true]:empty:not(:focus)::before {
	content: "...";
	color: rgb(150, 150, 150);
	cursor: text;
}
